= form_for @research do |f|
  - if @research.errors.any?
    #error_explanation
      %h2= "#{pluralize(@research.errors.count, "error")} prohibited this research from being saved:"
      %ul
        - @research.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, "Title"
    = f.text_field :name, class: :"form-control"
  .form-group
    = f.label :headline, "Short description"
    = f.text_field :headline, class: :"form-control"
  .form-group
    = f.label :location
    = f.text_field :location, class: :"form-control", id: :'geocomplete'
  .form-group
    = f.label :abstract
    = f.text_area :abstract, class: :"form-control", rows: :"5"
  .form-group
    = f.label :dateStart, "When does your Research Begin?"
    = f.text_field :dateStart, class: :"form-control", id: :"researchStart", title: :"Start of your Research", 'data-toggle': :'tooltip', 'data-placement': :'top'
  .form-group
    = f.label :dateEnd, "When does your Research End?"
    = f.text_field :dateEnd, class: :"form-control", id: :"researchEnd", title: :"End of your Research", 'data-toggle': :'tooltip', 'data-placement': :'top'
  .form-group
    = f.label :inFieldStart, "When will you be in field?"
    = f.text_field :inFieldStart, class: :"form-control", id: :"fieldStart", title: :"Day of your in field arrival", 'data-toggle': :'tooltip', 'data-placement': :'top'
  .form-group
    = f.label :inFieldEnd, "When will you leave the field?"
    = f.text_field :inFieldEnd, class: :"form-control", id: :"fieldEnd", title: :"Day of your in field departure", 'data-toggle': :'tooltip', 'data-placement': :'top'
  .form-group
    %label Check the box if you are able, leave blank if not:
    .checkbox
      = f.check_box(:available, include_hidden: false)
      = f.label :available, "Are you able to host visitors?"

  .form-group#day
    %label If you are able to host (Leave blank if not):
    .checkbox
      = f.check_box(:day, include_hidden: false)
      = f.label :day, "Day Visit?"

  .form-group#week
    .checkbox
      = f.check_box(:week, include_hidden: false)
      = f.label :week, "Week Visit?"

  .form-group
    %label If you chose Day Visit, what day? (Leave blank if not):
    = f.label :day_date, "Day Available"
    = f.text_field :day_date, class: :"form-control", id: :"day_date"

  .form-group
    %label If you chose Week Visit, select the start of that week (Leave blank if not):
    = f.label :weekStart, "First day of week available"
    = f.text_field :weekStart, class: :"form-control", id: :"weekStart"

  .form-group
    %label If you chose Week Visit, select the end of that week (Leave blank if not):
    = f.label :weekEnd, "Last day of week available"
    = f.text_field :weekEnd, class: :"form-control", id: :"weekEnd"

  - if current_user.try(:admin?)
    .form-group
      = label_tag 'researcher', 'Choose researcher'
      = select_tag('researcher', researcher_options, multiple: false, class: 'form-control')
  .actions
    = f.submit 'Save', class: :"btn btn-primary"
