.container-field
  .jumbotron
    %h1 UA Anthropology Research
    %br
    %br
    = button_to 'New research', new_research_path, class: "btn btn-info", method: :get
.container
  .panel.panel-default
    .panel-heading
      Research

    %table.table
      %thead
        %tr
          %th
            = sort_link(@search, :name, "Name")
          %th
            = sort_link(@search, :location, "Location")
          %th
            = sort_link(@search, :dateStart, "Research Started")
          %th
            = sort_link(@search, :dateEnd, "Research Ended")

      %tbody
        - @researches.each do |research|
          %tr
            %td
              = link_to research.name, research
            %td= research.location
            %td= research.dateStart
            %td= research.dateEnd
            - if current_user.try(:admin?)
              %td= button_to 'Edit', edit_research_path(research), class: "btn btn-primary", method: :get
              %td= button_to 'Delete', research, method: :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
