.container
  .page-header
    %h1 School of Anthropology Research
    -if researcher_signed_in? || current_user.try(:admin?)
      = button_to 'New research', new_research_path, class: "btn btn-info", method: :get
  %br
  .panel.panel-default
    .panel-heading
      Research
    .shorthead
      %table.table-hover.table-striped.table-responsive
        %thead
          %tr
            %th
              = sort_link(@search, :name, "Title")
            %th
              = sort_link(@search, :researcher, "Researcher")
            %th
              = sort_link(@search, :location, "Location")
            %th
              = sort_link(@search, :available, "Can Visit?")
            %th
              = sort_link(@search, :dateStart, "Starts")
            %th
              = sort_link(@search, :dateEnd, "Ends")

        %tbody.bigTableBody
          - @researches.each do |research|
            %tr
              %td= link_to research.name, research
              %td= research.researcher.name
              %td= research.location
              %td
                - if research.available.nil?
                  %i.fa.fa-times{style: :'color:red'}
                - elsif research.available == true
                  %i.fa.fa-check{style: :'color:green'}
                - else
                  %i.fa.fa-times{style: :'color:red'}
              %td= research.dateStart
              %td= research.dateEnd
              - if current_user.try(:admin?)
                %td
                  = button_to 'Edit', edit_research_path(research), class: "btn btn-primary", method: :get
                %td
                  = button_to 'Delete', research_path(research.id), method: :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

  - if current_user.try(:admin?)
    .page-header
      %h1 Administration
    .row
      .col-xs-8.col-sm-6
        %h2 Download Research
        = link_to "Download Research CSV", researches_path(format: "csv"), class: :"btn btn-info"
      .col-xs-4.col-sm-6
        %h2 Import Research
        = form_tag import_researches_path, multipart: true do
          = file_field_tag :file
          = submit_tag "Import Research", class: :"btn btn-primary btn-sm"
