.container
  .page-header
    %h1
      = @research.name

  .table-responsive
    %table.table-striped
      %thead
        %tr
          %th
            Location
          %th
            Researcher
          %th
            Research Start Date
          %th
            Research End Date
          %th
            Available for Visits?
      %tbody
        %tr
          %td
            = @research.location
          %td
            = link_to @research.researcher.name, @research.researcher
          %td
            -if @research.dateStart.nil?
              Contact Researcher for more information
            -else
              = @research.dateStart.strftime("%-d %B %Y")
          %td
            -if @research.dateEnd.nil?
              Contact Researcher for more information
            -else
              = @research.dateEnd.strftime("%-d %B %Y")
          %td
            - if @research.unknown
              Message Researcher for Details
            - else
              = translate_bool(@research.available)
  %p
    %h2
      Abstract
    = @research.abstract

  .btn-block
    - if !@current.nil?
      -if @current.likes?(@research)
        = link_to('Unlike', research_unlike_path(@research), class: :'btn btn-info', method: :post)
      - else
        = link_to research_like_path(@research), class: :'btn btn-info', method: :post do
          %i.fa.fa-thumbs-o-up
          Like
    - else

    %br
    - if @current.try(:admin?) or current_researcher == @research.researcher
      = link_to 'Edit', edit_research_path(@research), class: :'btn btn-primary', data: {'no-turbolink': 'true'}
