.container-field
  .jumbotron
    %h1 Research Map Project
    %br
    %br
    - if admin_signed_in?
      = button_to 'New Person', new_person_path, class: "btn btn-info", method: :get
.container
  .panel.panel-default
    .panel-heading
      Researchers

    %table.table
      %thead
        %tr
          %th
            = sort_link(@search, :Name, "Name")
          %th
            = sort_link(@search, :Location, "Location")
          %th
            = sort_link(@search, :dateStart, "Research Started")
          %th
            = sort_link(@search, :dateEnd, "Research Ended")
          %th
            = sort_link(@search, :activeDateStart, "In Field")
          %th
            = sort_link(@search, :activeDateEnd, "Left Field")
          %th
            = sort_link(@search, :donor, "Can accept Friends?")

      %tbody
        - @people.each do |person|
          %tr
            %td
              = link_to person.Name, person
            %td= person.Location
            %td= person.dateStart
            %td= person.dateEnd
            %td= person.activeDateStart
            %td= person.activeDateEnd
            %td= donor_bool(person.donor)
            - if admin_signed_in?
              %td= button_to 'Edit', edit_person_path(person), class: "btn btn-primary", method: :get
              %td= button_to 'Delete', person, method: :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
