%li.list-group-item.clearfix
  = link_to conversation.subject, conversation_path(conversation)
  .btn-group-vertical.pull-right
    - if conversation.is_trashed?(@current)
      = link_to 'Restore', restore_conversation_path(conversation), class: 'btn btn-xs btn-info', method: :post
    - else
      = link_to 'Move to trash', conversation_path(conversation), class: 'btn btn-xs btn-danger', method: :delete, |
        data: {confirm: 'Are you sure?'}
      - if conversation.is_unread?(@current)
        = link_to 'Mark as read', mark_as_read_conversation_path(conversation), |
          class: 'btn btn-xs btn-info', method: :post                                                                               |
  %p
    = render 'conversations/participants', conversation: conversation
  %p
    %b
      - if conversation.last_message.sender.nil?
      - else
        = conversation.last_message.sender.first_name
        = conversation.last_message.sender.last_name
    = conversation.last_message.body
    %small
      (
      %span.text-muted>= conversation.last_message.created_at.localtime.strftime("%-d %B %Y, %H:%M:%S")
      )
