.container
  .page-header
    %h1
      Your Conversations
  .row
    %p
      = link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-primary startBtn'
    .col-sm-3
      %ul.nav.nav-pills.nav-stacked#mailSec
        = mailbox_section 'inbox', @box
        = mailbox_section 'sent', @box
        = mailbox_section 'trash', @box
    .col-sm-9
      %ul.list-group
        -# Will render the conversations
        = render partial: 'conversations/conversation', collection: @conversations
        -# Will check if any of their boxes are empty
        -if @conversations.empty?
          %h2 Your #{@box} is empty!
    .col-sm-9
    - if @box == 'trash'
      %p= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete, |
          data: {confirm: 'Are you sure?'}                                                                 |
