.container
  .row.profile.panel
    .col-md-4.bg_blur
    .col-md-8.col-xs-12.info-col
      = image_tag(@user.avatar.url, class: :'img-rounded picture hidden-xs')
      = image_tag(@user.avatar.url, class: :'img-rounded visible-xs picture_mob')
      .header
        %h2
          = @user.first_name
          = @user.last_name
          - if user_signed_in? and current_user == @user
            = link_to "Edit Profile", edit_user_registration_path, class: :"btn btn-primary btn-lg"
          - else
            Hi
          %br
        %h4
          %i.fa.fa-building.fa-lg
          My Work Place
        %h4
          %i.fa.fa-map-marker.fa-lg
          - if @user.current_location.nil?
            No Information
          - else
            = @user.current_location
        %span
          = @user.headline

      .btn-group.btn-block
        = link_to user_following_path(@user), role: :"button", method: :get, class: :'button btn btn-inverse btn-lg' do
          %i.fa.fa-users.fa-lg
          Following
          = @following

        %button.btn.btn-inverse.btn-lg
          %i.fa.fa-thumbs-o-up.fa-lg
          Likes
          = @likes

    #profileInfo
    %ul.nav.nav-tabs
      %li.active
        %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#aboutme"}
          %strong
            About Me

    #myTabContent.tab-content
      #aboutme.tab-pane.fade
        %strong
          %u
            About Me
        %br
        = @user.bio
  .adminEdit
    - if user_signed_in? && current_user.admin?
      = link_to "Edit User", edit_user_path, class: :"btn btn-info"
