.container
  .userProfile{style: :"padding-top: 2em;"}
  .row.profile.panel#profilePanel
    .col-md-4.bg_blur
      = image_tag(@user.avatar.url(:thumb), class: :'img-rounded picture hidden-xs')
      = image_tag(@user.avatar.url(:thumb), class: :'img-rounded visible-xs picture_mob')
    .col-md-8.col-xs-12.info-col
      .header
        %h2
          = @user.first_name
          = @user.last_name
          - if user_signed_in? and current_user == @user
            = link_to "Edit Profile", edit_user_registration_path, class: :"btn btn-primary btn-lg"
          - else
          %br
        %h4
          %i.fa.fa-building.fa-lg
          - if @user.title.nil?
            No Information
          - else
            = @user.title
        %h4
          %i.fa.fa-map-marker.fa-lg
          - if @user.current_location.nil?
            No Information
          - else
            = @user.current_location
        %h4
          = @user.headline

      .btn-group.btn-block#buttons
        = link_to user_following_path(@user), role: :"button", method: :get, class: :'button btn btn-red btn-lg' do
          %i.fa.fa-users.fa-lg
          Following
          = @following

        = link_to user_likes_path(@user), role: :"button", method: :get, class: :'button btn btn-red btn-lg' do
          %i.fa.fa-thumbs-o-up.fa-lg
          Likes
          = @likes
        = link_to user_trips_path(@user), role: :"button", method: :get, class: :'button btn btn-red btn-lg' do
          %i.fa.fa-suitcase.fa-lg
          My Trips!

        %a.btn.btn-red.btn-lg{"data-target" => "##{@user.id}", "data-toggle" => "modal", :href => "#", role: :"button"}
          %i.fa.fa-envelope-o
          Message
        .modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", id: :"#{@user.id}"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} ×
                %h4#myModalLabel.modal-title
                Send a Message to #{@user.name}
              .modal-body
                = form_tag messages_path, method: :post do
                  .form-group
                    = hidden_field_tag('recipients', @user.email)
                  .form-group
                    = label_tag 'message[subject]', 'Subject'
                    = text_field_tag 'message[subject]', nil, class: 'form-control', required: true
                  .form-group
                    = label_tag 'message[body]', 'Message'
                    = text_area_tag 'message[body]', nil, cols: 3, height: :'40', class: 'form-control', required: true
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                    = submit_tag 'Send', class: 'btn btn-primary'

    #profileInfo
    %ul.nav.nav-tabs
      %li
        %h3{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#aboutme", style: :"color: transparent;"}
          %strong
            About Me

    #myTabContent.tab-content
      #aboutme.tab-pane.fade.active.in{style: :"padding-left: 1em;"}
        %h2
          About Me
        = @user.bio
  .adminEdit
    - if user_signed_in? && current_user.admin?
      = link_to "Edit #{@user.name}", edit_user_path, class: :"btn btn-info"
