!!!!
/ Scripts to allow Mapbox API to work
%script{src: :'https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'}
%link{href: :'https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css', rel: :'stylesheet'}
.container
  %body{data: {'no-transition-cache': 'true'}}
    .page-header
      %h1
        %center School of Anthropology Research Map
    %nav.menu-ui#menu-ui
      %a.active#filter-all{href: :'#'} Show all
      %a#filter-donor{href: :'#'} Can visit?
    .mapArea
      .sidebar
        .heading
          %h2
            %i.fa.fa-globe
            %a#backToSize{href: :'#', title: :"Zoom out on map", 'data-toggle': :'tooltip', 'data-placement': :'top'} Locations
        .listings#listings
      #map

  #searchanthro
    .panel-group#accordion{role: :"tablist", 'aria-multiselectable': :"true"}
      .panel.panel-default
        .panel-heading#headingOne{role: :"tab"}
          %h4.panel-title
            %a{role: :"button", 'data-toggle': :"collapse", 'data-parent': :"#accordion", href: :"#collapseOne", 'aria-expanded': :"true", 'aria-controls': :"collapseOne"}
              %i.fa.fa-search
              Search For a Researcher!
        .panel-collapse.collapse.in#collapseOne{role: :'tabpanel', 'aria-labelledby': :'headingOne'}
          .panel-body
            Search for your researcher!
            %p
            = search_form_for @search do |f|
              .field
                = f.label :researcher_first_name_or_researcher_last_name_cont
                = f.text_field :researcher_first_name_or_researcher_last_name_cont
              .field
                = f.label :location_cont
                = f.text_field :location_cont
              %br
              .actions
                = f.submit 'Search', class: "btn btn-primary"
                %hr
                %p
                  %strong Advanced Search
                  = f.condition_fields do |c|
                    = render "condition_fields", f: c
                  %p
                    = link_to_add_fields "Add Conditions", f, :condition
              .actions
                = f.submit 'Search', class: "btn btn-primary"
