.container
  .jumbotron
    %h1 UA Anthropology Researchers
    %br
  .panel.panel-default
    .panel-heading
      Researchers

    %table.table-hover.table-striped.table-responsive
      %thead
        %tr
          %th
            = sort_link(@search, :first_name, "First Name")
          %th
            = sort_link(@search, :last_name, "Last Name")
          %th
          %th
      %tbody
        - @researchers.each do |researcher|
          %tr
            %td
              = link_to researcher.first_name, researcher
            %td
              = link_to researcher.last_name, researcher
            - if current_user.try(:admin?)
              %td= link_to 'Edit', edit_researcher_path(researcher), method: :get
              %td= link_to 'Delete', researcher, method: :delete, :data => { :confirm => 'Are you sure?' }

  - if current_user.try(:admin?)
    .page-header
      %h1 Administration
    .row
      .col-xs-8.col-sm-6
        %h2 Download Researchers
        = link_to "Download Researchers CSV", researchers_path(format: "csv"), class: :"btn btn-info"
      .col-xs-4.col-sm-6
        %h2 Import Researchers
        = form_tag import_researchers_path, multipart: true do
          = file_field_tag :file
          = submit_tag "Import Researchers", class: :"btn btn-primary btn-sm"
