.container
  = form_for @trip_pass do |f|
    - if @trip_pass.errors.any?
      #error_explanation
        %h2= "#{pluralize(@trip_pass.errors.count, "error")} prohibited this trip_pass from being saved:"
        %ul
          - @trip_pass.errors.full_messages.each do |msg|
            %li= msg
    -# .form-group
    -#   = label_tag 'researcher', 'Choose researcher'
    -#   = select_tag('researcher', researcher_options, multiple: false, class: 'form-control')
    .form-group#researchSelect
      = label_tag 'research', 'Which Research Will you Visit?'
      = select_tag('research', research_options, multiple: false, class: 'form-control')
    .form-group
      = f.label :dateStart, "Day of Arrival in field"
      = f.text_field :dateStart, focus: :false, class: :"form-control", id: :"dateStart", title: :"Date of Arrival", 'data-toggle': :'tooltip', 'data-placement': :'top'
    .form-group
      = f.label :dateEnd, "Day of Departure from field"
      = f.text_field :dateEnd, focus: :false, class: :"form-control", id: :"dateEnd", title: :"Date of Departure", 'data-toggle': :'tooltip', 'data-placement': :'top'
    .actions
      = f.submit 'Submit', class: :"btn btn-primary"
:javascript
    var start, end;
    var s, e;
    var sYear, sMonth;
    var sDay, eYear;
    var eDay, eMonth;
    var r = document.getElementById('research');
    var rSelect = document.getElementById('researchSelect');
    dateChange(r.value);

    rSelect.onchange = function(){
      dateChange(r.value);
    }

    function dPicker(sDate, eDate){
      var $input = $('#dateStart').pickadate();
      var $input2 = $('#dateEnd').pickadate();
      var picker = $input.pickadate('picker');
      var picker2 = $input2.pickadate('picker');

      picker.set('min', sDate);
      picker.set('max', eDate);
      picker2.set('min', sDate);
      picker2.set('max', eDate);


      $("#dateStart").attr("readonly", false);
      $("#dateEnd").attr("readonly", false);
      $('#dateStart').tooltip();
      $('#dateEnd').tooltip();
    }

    function dateChange(val){
      $.ajax({
        url: Routes.research_path(val),
        type: 'get',
        dataType: 'json',
        success: function(data){
          start = data.weekStart;
          end = data.weekEnd;
          s = new Date(start);
          e = new Date(end);
          sYear = s.getFullYear();
          sMonth = s.getMonth();
          sDay = s.getDate() +1;
          eYear = e.getFullYear();
          eMonth = e.getMonth();
          eDay = e.getDate()+1;
          var sDate = [sYear,sMonth,sDay];
          var eDate = [eYear,eMonth,eDay];
          if (start === null){
            sDate = false;
          }
          if (end === null){
            eDate = false;
          }
          dPicker(sDate, eDate);
        }.bind(this),
        error: function(xhr, status, err){
          alert(err.toString());
        }.bind(this)
      });
    }
