= semantic_form_for @trip_pass do |f|
  = f.inputs do
    = f.input :location
    = f.input :longitude
    = f.input :latitude
    = f.input :dateStart
    = f.input :dateEnd
    = f.input :user
    = f.input :researcher

  = f.actions do
    = f.action :submit, :as => :input
