%h1 Listing trip_passes

%table
  %thead
    %tr
      %th Location
      %th Longitude
      %th Latitude
      %th Datestart
      %th Dateend
      %th User
      %th Researcher
      %th
      %th
      %th

  %tbody
    - @trip_passes.each do |trip_pass|
      %tr
        %td= trip_pass.location
        %td= trip_pass.longitude
        %td= trip_pass.latitude
        %td= trip_pass.dateStart
        %td= trip_pass.dateEnd
        %td= trip_pass.user
        %td= trip_pass.researcher
        %td= link_to 'Show', trip_pass
        %td= link_to 'Edit', edit_trip_pass_path(trip_pass)
        %td= link_to 'Destroy', trip_pass, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Trip pass', new_trip_pass_path
