.container
  .jumbotron
    %center
      %h2
        Trip Pass: ID
        = @trip_pass.id
  %p
    %b Location:
    = @trip_pass.location
  %p
    %b Datestart:
    = @trip_pass.dateStart
  %p
    %b Dateend:
    = @trip_pass.dateEnd
  %p
    %b User:
    = @trip_pass.user.name
  %p
    %b Researcher:
    = @trip_pass.researcher.name
  %p
    %b Research:
    = @trip_pass.research.name

  = link_to 'Edit', edit_trip_pass_path(@trip_pass), data: {'no-turbolink': 'true'}
  \|
  = link_to 'Back', trip_passes_path
