.container
  .jumbotron
    %h1 Trip Requests
  %table.table.table-reponsive
    %thead
      %tr
        %th Name
        %th Location
        %th Arrival
        %th Departure
        %th Accepted?
        %th{:colspan => "3"}
    %tbody
      - @trip_passes.each do |pass|
        %tr
          %td= pass.user.name
          %td= pass.location
          %td= pass.dateStart
          %td= pass.dateEnd
          %td= translate_bool(pass.researcher_accept)
          - if pass.researcher_accept
            %td
              // Add a comment box for when they decline
              = link_to "decline", decline_path(pass), class: :'btn btn-danger'
          -else
            %td
              = link_to "accept", accept_path(pass), class: :'btn btn-primary'

  %br/
