.container
  .jumbotron
    %h1
      Trip Requests
      %i.fa.fa-plane
  = react_component 'TripPassBox', {newPasses: @trip_passes.map{|u| u.as_json(include: { researcher: { only: [:name] }, user: { only: [:name] } } ) }, acceptPasses: @accepted_trips.map{|u| u.as_json(include: { researcher: { only: [:name] }, user: { only: [:name] } } ) }, declinePasses: @declined_trips.map{|u| u.as_json(include: { researcher: { only: [:name] }, user: { only: [:name] } } ) }}
  #box
  #new
  #accepted
  #declined

  #test
  -# .panel-group#accordion{role: :"tablist", 'aria-multiselectable': :"true"}
  -#   .panel.panel-default
  -#     .panel-heading#headingOne{role: :"tab"}
  -#       %h4.panel-title
  -#         %a{role: :"button", 'data-toggle': :"collapse", 'data-parent': :"#accordion", href: :"#collapseOne", 'aria-expanded': :"true", 'aria-controls': :"collapseOne"}
  -#           %i.fa.fa-exclamation-circle
  -#           New Trip Requests!
  -#     .panel-collapse.collapse.in#collapseOne{role: :'tabpanel', 'aria-labelledby': :'headingOne'}
  -#       .panel-body
  -#         -if @trip_passes.blank?
  -#           %h4 You don't have any new Trip Requests!
  -#         -else
  -#           = react_component 'NewTripPasses', {data: @trip_passes}
  -# .panel-group#accordion{role: :"tablist", 'aria-multiselectable': :"true"}
  -#   .panel.panel-default
  -#     .panel-heading#headingTwo{role: :"tab"}
  -#       %h4.panel-title
  -#         %a{role: :"button", 'data-toggle': :"collapse", 'data-parent': :"#accordion", href: :"#collapseTwo", 'aria-expanded': :"true", 'aria-controls': :"collapseTwo"}
  -#           %i.fa.fa-check-circle
  -#           Accepted Trip Requests!
  -#     .panel-collapse.collapse.in#collapseTwo{role: :'tabpanel', 'aria-labelledby': :'headingTwo'}
  -#       .panel-body
  -#         -if @accepted_trips.blank?
  -#           %h4 You haven't accepted any trips!
  -#         - else
  -#           = react_component 'AcceptedTripPasses', {data: @accepted_trips}
  -#         #accepted
  -# .panel-group#accordion{role: :"tablist", 'aria-multiselectable': :"true"}
  -#   .panel.panel-default
  -#     .panel-heading#headingThree{role: :"tab"}
  -#       %h4.panel-title
  -#         %a{role: :"button", 'data-toggle': :"collapse", 'data-parent': :"#accordion", href: :"#collapseThree", 'aria-expanded': :"true", 'aria-controls': :"collapseThree"}
  -#           %i.fa.fa-times-circle
  -#           Declined Trip Requests!
  -#     .panel-collapse.collapse.in#collapseThree{role: :'tabpanel', 'aria-labelledby': :'headingThree'}
  -#       .panel-body
  -#         -if @declined_trips.blank?
  -#           %h4 You haven't declined any trips!
  -#         -else
  -#           = react_component 'DeclinedTripPasses', {data: @declined_trips}
  -#         #declined





  -# .page-header
  -#   %h1 Accepted Trip Passes
  -# -if @accepted_trips.blank?
  -#   %h4 You haven't accepted any trips!
  -# - else
  -#   = react_component 'AcceptedTripPasses', {data: @accepted_trips}
  -# .page-header
  -#   %h1 Declined Trip Passes
  -# -if @declined_trips.blank?
  -#   %h4 You haven't declined any trips!
  -# -else
  -#   = react_component 'DeclinedTripPasses', {data: @declined_trips}
  -# #accepted
  -# #declined
  -# %table.table-striped.table-reponsive.table-hover
  -#   %thead
  -#     %tr
  -#       %th Name
  -#       %th Location
  -#       %th Arrival
  -#       %th Departure
  -#       %th Accepted?
  -#       %th
  -#       %th{:colspan => "3"}
  -#   %tbody
  -#     - @trip_passes.each do |pass|
  -#       %tr
  -#         %td= pass.user.name
  -#         %td= pass.location
  -#         %td= pass.dateStart
  -#         %td= pass.dateEnd
  -#         %td= translate_bool(pass.researcher_accept)
  -#         - if pass.researcher_accept
  -#           %td
  -#             = button_to "accept", trip_pass_accept_path(pass), method: :post, class: :'btn btn-primary'
  -#             // Add a comment box for when they decline
  -#             = link_to "decline", trip_pass_decline_path(pass), method: :post, class: :'btn btn-danger', "data-target" => "##{pass.id}", "data-toggle" => "modal", remote: :true
              / Modal
              .modal.fade{id: :"#{pass.id}", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} ×
                      %h4#myModalLabel.modal-title Send a message about why you can't
                    .modal-body
                      = form_tag messages_path, method: :post do
                        .form-group
                          = hidden_field_tag('recipients', pass.user.email)
                        .form-group
                          = hidden_field_tag('message[subject]', "Regarding your recent Trip Request with #{pass.researcher.name}")
                        .form-group
                          = label_tag 'message[body]', 'Message'
                          = text_area_tag 'message[body]', nil, cols: 3, height: :'40', class: 'form-control', required: true
                        .modal-footer
                          -# %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
                          = button_to "Cancel", trip_pass_cancel_path(pass), method: :post, class: :'btn btn-primary', "data-dismiss": :"modal"
                          = submit_tag 'Send', class: 'btn btn-primary'
  -#
  -#         -else
  -#           %td{width: :"30%"}
  -#             .btn-group.acceptgroup
  -#               = button_to "accept", trip_pass_accept_path(pass), method: :post, class: :'btn btn-primary'
  -#               = button_to "decline", trip_pass_decline_path(pass), method: :post, class: :'btn btn-danger', "data-target" => "##{pass.id}", "data-toggle" => "modal", remote:true
  -#
  -# .page-header
  -#   %h1 Accepted Trip Passes
  -# %table.table-striped.table-reponsive.table-hover
  -#   %thead
  -#     %tr
  -#       %th Name
  -#       %th Location
  -#       %th Arrival
  -#       %th Departure
  -#       %th{:colspan => "3"}
  -#   %tbody
  -#     - @accepted_trips.each do |pass|
  -#       %tr
  -#         %td= pass.user.name
  -#         %td= pass.location
  -#         %td= pass.dateStart
  -#         %td= pass.dateEnd
  -#
  -#
  -# .page-header
  -#   %h1 Declined Trip Passes
  -# %table.table-striped.table-reponsive.table-hover
  -#   %thead
  -#     %tr
  -#       %th Name
  -#       %th Location
  -#       %th Arrival
  -#       %th Departure
  -#       %th{:colspan => "3"}
  -#   %tbody
  -#     - @declined_trips.each do |pass|
  -#       %tr
  -#         %td= pass.user.name
  -#         %td= pass.location
  -#         %td= pass.dateStart
  -#         %td= pass.dateEnd
