%head
%body
  .page-header
    %h1
      Hello!
  %h2 #{@trip_pass.user.name} has sent #{@trip_pass.researcher.name} a trip request!
  %p
    Please check in with #{@trip_pass.researcher.name} and #{@trip_pass.user.name}
    within a week to make sure #{@trip_pass.user.name} has been responded to.
    %br
    Have a great day!
  %br
  %h3 Need to login?
  #{@url + @login}
