.container
  .jumbotron
    %h1
      Followers

  - if @followers.blank?
    = @follower.first_name
    isn't followed by anyone!
  - else
    %table.table-striped.table-responsive
      %thead
        %tr
          %th
            %th
              = sort_link(@search, :first_name, "First Name")
          %th
            = sort_link(@search, :last_name, "Last Name")

      %tbody
        - @followers.each do |follower|
          %tr
            %td
              = image_tag follower.avatar.url(:thumb), class: :'img-circle', size: '50x50'
            %td
              = link_to follower.first_name, follower
            %td
              = link_to follower.last_name, follower
