!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Research Map Project
    = stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags
    = stylesheet_link_tag "eden"

    -# = javascript_include_tag "legacy"
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

  %body
    = render "shared/navigationbar"

  // Google map scripts
  %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}

  =yield

  .footer
    &copy; University of Arizona: School of Anthropology
