!!!
%html{:lang => "en"}
  %head
    %meta{:content => "width=device-width, initial-scale=1,\r\nmaximum-scale=1, user-scalable=yes", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Research Map Project
    / Normalize CSS
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css", :rel => "stylesheet"}/
    / Latest icon font stylesheet
    %link{:href => "//brand.arizona.edu/sites/all/themes/brand/ua-brand-icons/ua-brand-icons.css", :rel => "stylesheet"}/
    / Latest compiled and minified CSS icon font not included
    %link{:href => "//bitbucket.org/uadigital/ua-bootstrap/downloads/ua-bootstrap-1.0.0-alpha6.min.css", :rel => "stylesheet"}/
    / jQuery
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"}
    / Latest compiled and minified JavaScript
    %script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}

    = stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags

    - if notice
      %p.alert.alert-success
        = notice
    - if alert
      %p.alert.alert-danger
        = alert

  %body
    %header#region_header_ua.l-arizona-header.bg-red
      %section.container.l-container
        .row
          %a.arizona-logo{:href => "http://www.arizona.edu", :title => "The University of Arizona homepage"}
            %img.arizona-line-logo{:alt => "The University of Arizona Wordmark Line Logo White", :src => "https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg"}/
    #header_site
      .container
        .row
          #site_identifier
            %a{:href => "http://www.anthropology.arizona.edu"}
              = image_tag "primary-logo.png"
          #utility_links
          -#
          -# #search
          -#   = search_form_for @search do |f|
          -#     = f.search_field :researcher_first_name_or_researcher_last_name_or_location_or_name_cont, class: :'form-item'
          -#     = f.submit 'Search', class: "btn btn-primary form-actions"
    = render "shared/testbar"

  // Google map scripts
  %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}

  =yield

  %footer#footer_site
    .container
      .row
        .col-md-6
          #footer_logo.text-center-sm.text-center-xs.text-left
            %a{:href => "#"}
              =image_tag "primary-logo.png"
        .col-md-6
          #footer_menu.text-center-sm.text-center-xs.text-right
            %ul
              %li
                %a{:href => "#"} Link 1
              %li
                %a{:href => "#"} Link 2
              %li
                %a{:href => "#"} Link 3
              %li
                %a{:href => "#"} Link 4
              %li.last
                %a{:href => "#"} Link 5
      %hr/
      .row
        .col-md-12
          #footer_copyright.text-center
            1009 East South Campus Drive   |   University of Arizona   |   Tucson, AZ 85721
            %br/
            Phone: 520.621.2585  |   Email: 
            %a{:href => "mailto:anthro@email.arizona.edu"}>
              anthro@email.arizona.edu
              %br/
            © 2016 The Arizona Board of Regents on behalf of the University of Arizona   | 
            %a{:href => "mailto:lisazhang@email.arizona.edu"} Feedback
    / /.container
