!!!
%html{:lang => "en"}
  %head
    %meta{:content => "width=device-width, initial-scale=1,\r\nmaximum-scale=1, user-scalable=yes", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    = csrf_meta_tags
    %title Research Map Project
    / Normalize CSS
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css", :rel => "stylesheet"}/
    / Latest icon font stylesheet
    %link{:href => "//brand.arizona.edu/sites/all/themes/brand/ua-brand-icons/ua-brand-icons.css", :rel => "stylesheet"}/
    / Latest compiled and minified CSS icon font not included
    %link{:href => "//bitbucket.org/uadigital/ua-bootstrap/downloads/ua-bootstrap-1.0.0-alpha6.min.css", :rel => "stylesheet"}/
    / jQuery
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"}
    / Latest compiled and minified JavaScript
    %script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    = stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true

    - if notice
      %p.alert.alert-success
        = notice
    - if alert
      %p.alert.alert-danger
        = alert

  %body
    %header#region_header_ua.l-arizona-header.bg-red
      %section.container.l-container
        .row
          %a.arizona-logo{:href => "http://www.arizona.edu", :title => "The University of Arizona homepage"}
            %img.arizona-line-logo{:alt => "The University of Arizona Wordmark Line Logo White", :src => "https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg"}/
    #header_site
      .container
        .row
          #site_identifier
            %a{:href => "http://www.anthropology.arizona.edu"}
              = image_tag "primary-logo.png"
          #utility_links
          -#
          -# #search
          -#   = search_form_for @search do |f|
          -#     = f.search_field :researcher_first_name_or_researcher_last_name_or_location_or_name_cont, class: :'form-item'
          -#     = f.submit 'Search', class: "btn btn-primary form-actions"
    = render "shared/testbar"

  // Google map scripts
  %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}

  =yield

  = render "layouts/footer"
