!!!
%html
  %head
    %link{href: :'//mapbox.com/base/latest/base.css', rel: :'stylesheet'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Research Map Project
    = stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{rel:"stylesheet", href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}
    %script{src: :"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity: :"sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin: :"anonymous"}

  / Scripts to allow Mapbox API to work
  %script{src: :'https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'}
  %link{href: :'https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css', rel: :'stylesheet'}
  = render "shared/navigationbar"
  %body
  // Google map scripts
  %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
  = javascript_include_tag "jquery.geocomplete"

  - if notice
    %p.alert.alert-success= notice
  - if alert
    %p.alert.alert-danger= alert

  =yield

  .footer
    &copy; Lisa Zhang
